.sources_item {
  display: block;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  border-radius: 3px;

  &:hover {
    color: var(--main-color);
    cursor: pointer;
  }
  
  &-active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
}
