.container {
  margin: 0 auto;
  padding: 5px;
  display: grid;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  list-style: none;
  text-decoration: none;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
