<div class="container">
  <h3>{{title}}</h3>
  <p>Created by Yuliya Miatlionak during FrontCamp training in 2019-2020.</p>
  <p>This app implemented with <a href="https://angular.io/" target="_blank">Angular 8</a>, <a href="https://expressjs.com/" target="_blank">Express</a>, <a href="https://www.mongodb.com/" target="_blank">MondoDB</a> and styled with <a href="https://materializecss.com/">Materialize</a>.</p>
  <p>External api provided by <a href="https://newsapi.org/" target="_blank">NewsApi</a></p>
</div>

