<nav>
  <div class="nav-wrapper container">
    <a [routerLink]="['/']" class="brand-logo">Aggregator Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/']">Main</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/contacts']">Contacts</a>
      </li>
      <li><button class="btn">Login</button></li>
      <li><button class="btn">Login</button></li>
    </ul>
  </div>
</nav>
